footer {
    background-color: $color-principal;
    color: $color-secundario;
    padding: 20px 0;
    text-align: center;
  
    .footer-social {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
  
      a {
        color:$color-secundario;
        text-decoration: none;
  
        &:hover {
          color: #007bff;
        }
  
        img {
          width: 20px;
        }
      }
    }
  }