header {
    background-color: $color-principal;
  }
  
  .hero {
    position: relative;
    background: url('../img/banner.jpg') no-repeat center center;
    background-size: cover;
    text-align: center;
    padding: 100px 20px;
    color: $color-secundario;
    min-height: 700px;
  }
  
  .navbar-toggler {
    background-color: $color-secundario;
  }