.btn {
  background-color: $color-terciario;
  color: $color-secundario;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;

  &.btn-blue:hover {
    background-color: #004085;
  }
}

.servicios {
  display: flex;
  justify-content: center;
  align-items: normal;
  padding: 20px;
  padding-top: 10px;
  color: black;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 2rem;
  padding: 2rem;

  img {
    width: 50vh;
    height: 50vh;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 25px;
}

.form-header {
  background-color: $color-principal;
  color: $color-secundario;
  padding: 20px;
  border-radius: 8px;
}

.form-control:focus {
  border-color: #0056b3;
  box-shadow: 0 0 0 0.2rem rgba(0, 86, 179, 0.25);
}

.notario {
  width: 300px;
  height: auto;
}

.nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
.list-group,.list-group-item,strong,h2,li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
